#ball {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    transition: all 2s ease-out;
   
}

#ball:hover {
    /* background-color: green; */
    transform: translateX(500px);
}

#box {
    background-color: green;
    width: 600px;
}